body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(236, 236, 236);
  margin: 0;
  padding: 0;
}

.sidebar {
  background-color: rgba(54, 60, 64);
  padding: 10px;
  height: 100%;
  width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

.sidebar-bilde {
  width: 150px;
}

.sidebar-linki a {
  color: white;
  font-size: 10px;
  text-decoration: none;
  padding-left: 15px;
  width: 100%;
}

.container {
  margin-left: 170px;
  width: calc(100vw-170px);
}

.topbar {
  background-color: white;
  border-bottom: 1px solid silver;
}

.topbar-kreisa {
  background-color: white;
  float: left;
}

.topbar-laba  {
  background-color: white;
  float: right;
}

.pievienot-poga {
  padding: 5px;
  border-radius: 5px;
  border-color: green;
  cursor: pointer;
  margin: 5px;
}

.pievienot-poga:hover {
  background-color: green;
  color: white;
}

.tabula, th, td {
  width: 100%;
  border: 1px solid black;
  background-color: white;
  border-collapse: collapse;
}

.dzest-button {
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
}

.edit-button {
  background-color: transparent;
  border-radius: 3px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: green;
  color: white;
}

.dzest-button:hover {
  background-color: red;
  color: white;
}

.tabula {
  table-layout: fixed;
  margin: 5px;
}